node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
package-lock.json
.pnpm-store/
.vscode/
.DS_Store

public/
.cache/
.eleventy.js.cache/

*.log
*.tmp
*.temp

.DS_Store
.AppleDouble
.LSOverride

Thumbs.db
ehthumbs.db
Desktop.ini

.idea/
*.sublime-workspace
*.sublime-project
